.App {
  padding: 20px;
}

.header-container {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.camera-list-item {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.camera-list-item:first-child {
  border-top: 1px solid #ddd;
}

.camera-name {
  flex: 1;
  display: inline-block;
  line-height: 33px;
}

.camera-button {
  display: inline-block;
  background: #696969;
  padding: 3px;
  height: 25px;
  width: 30px;
  color: #fff;
  text-align: center;
  margin: 4px;
  border-radius: 2px;
  font-size: 13px;
}
